p
{
    background-color: antiquewhite;
    color:blue;
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
